@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Playfair+Display:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom left, rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.052)),url(girisfotosu.jpg);
    background-size: cover;      
    background-position: bottom; 
    background-repeat: no-repeat;
    position: relative;

}
.main-title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    background: linear-gradient( #bf953f, #fcf6ba, #e0b558fd, #fbf5b7, #bf953f);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));


}
.subtitle {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    width: 80%;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #ffc75e, #fcf6ba, #bf953f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,1));
    text-shadow: none; 
}


.navigation {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 0; 
    z-index: 10; 
}

.nav-list {
    display: flex; 
    padding: 0 50px;
    list-style: none; 
    gap: 40px; 
    align-items: center;
    color: #F0E6D2;
}
.nav-list li:first-child{
    margin-right: auto; 
}

.nav-link{
    text-decoration: none; 
    color: #F0E6D2; 
    font-size: 1.2rem; 
    font-family: 'Playfair Display', serif; 
    font-weight: bold; 
    transition: all 0.3s ease; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.nav-link i {
    color: #D4AF37;
    margin-right: 8px;
    transition: all 0.3s ease; 
}
.nav-link:hover {
    color: #ffcea5;
    text-shadow: 0px 0px 10px rgba(255, 206, 165, 0.6);
}
.nav-link:hover i {
    color: #FFD700;
    transform: scale(1.2);
    text-shadow: 0px 0px 10px rgba(255, 206, 165, 0.6);
}
