*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.giris-container{
     width: 100%;
     height: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url('girisfotosu.jpg');
     background-size: cover;   
     background-position:top;
   
}

.kayit-container{
    width: 100%;
    height: 60%;
    color: #fdfbf7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(44, 24, 16, 0.398), rgba(44, 24, 16, 0.85)), url('girisfotosu.jpg');
    background-size: cover;   
    background-position: bottom;
   
}

.giris-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
      

}

.btn-giris{
    padding: 10px;
    border-radius: 5px;
    background-color: #d4a373; /* S端tl端 kahve/Gold */
    color: #2c1810;
    margin: 5px;
    border: none;
    font-weight:bold ;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-giris:hover{
    background-color: rgb(250, 248, 195);
    color:rgb(86, 44, 14)  ;
    cursor: pointer;
    transition: 0.3s ease;


}
.btn-kayit{
    padding: 10px;
    border-radius: 5px;
    background-color: #d4a373; /* S端tl端 kahve/Gold */
    color: #2c1810;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-kayit:hover{
    cursor: pointer;
    background-color: rgb(66, 16, 16);
    color: beige;
    border-color: aliceblue;
    transition: 0.3s ease;

}

.kayit-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.kayit-item input:focus{
    outline: none; 
    border: 3px solid rgb(232, 247, 204);
    background-color: rgba(233, 181, 126, 0.792);
}
.giris-item input:focus{
    outline: none;
    border:3px solid rgb(255, 205, 105);
    background-color: rgba(238, 217, 54, 0.9);

}

input{
   padding: 10px;
   border-radius: 8px;
   border: 3px solid transparent;
   width: 350px;
   padding-left: 15px;
   height: 20px;
   background-color: rgba(255, 255, 255, 0.9);
   color: rgb(90, 46, 13);
   font-weight: bold;
   font-size: 16px;
   font-family: inherit;
   line-height: normal;

}
.giris-item input{
   background-color: rgba(255, 255, 255, 0.9);
   color: rgb(90, 46, 13);
   

}
.kayit-container input{
   background-color: rgba(255, 255, 255, 0.895);
   color: rgb(13, 6, 0);
   

}

.giris-item label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #f9ffb3;
}
.kayit-item label{
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(221, 233, 244);
}
